#drawing svg {
  margin-top: -1500px;
  margin-left: -300px;
}

.tree1 {
  position: absolute;
  top: -2px;
  left: 100px;
}

.tree2 {
  position: absolute;
  top: 10px;
}
.tree3 {
  position: absolute;
  top: -6px;
  left: 50px;
}
.tree4 {
  position: absolute;
  top: 31px;
  left: 50px;
}
